<!-- Visible to None-Managers -->
<form id="reimb-form" *ngIf="currentUser.role !== 'Manager'">
    <div class="form-row thead-dark" id="reimb-form-head">
        <h5>Request Reimbursement: </h5>
    </div>
    <br>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="inputAmount">Amount</label>
            <input name="amount" type="number" class="form-control" id="inputAmount" required
                [(ngModel)]="inputForm.reimbAmount">
        </div>
        <div class="form-group col-lg-6">
            <label for="inputType">Type</label>
            <!--<input name="type" type="text" class="form-control" id="inputType" required
                [(ngModel)]="inputForm.reimbType">-->
            <br>
            <button ngbDropdown class="d-inline-block btn btn-secondary col" id="insert-type-button">
                <a class="nav-link dropdown-toggle" id="type-insert-drop" ngbDropdownToggle>{{insertTypeDrop}}</a>
                <div ngbDropdownMenu aria-labelledby="type-insert-drop">
                    <button class="dropdown-item" (click)="selectTypeDropdown('Lodging')">Lodging</button>
                    <button class="dropdown-item" (click)="selectTypeDropdown('Food')">Food</button>
                    <button class="dropdown-item" (click)="selectTypeDropdown('Travel')">Travel</button>
                    <button class="dropdown-item" (click)="selectTypeDropdown('Other')">Other</button>
                </div>
            </button>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-12">
            <label for="inputDesc" class="reimb-form-text">Description</label>
            <textarea name="desc" class="form-control" id="inputDesc" rows="4" required
                [(ngModel)]="inputForm.reimbDesc"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col reimb-form-text">
            {{inputForm.message}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col button-row">
            <button type="submit" class="btn btn-secondary" id="reimb-form-button" (click)="callAdd()">
                Request
            </button>
        </div>
    </div>
</form>


<!-- Only Visible to Managers -->
<form id="reimb-form" *ngIf="currentUser.role === 'Manager'">
    <div class="form-row thead-dark" id="reimb-form-head">
        <h5>Update Reimbursement: </h5>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <button ngbDropdown class="d-inline-block btn btn-secondary col" id="reimb-id-button">
                <a class="nav-link dropdown-toggle" id="reimb-update-drop" ngbDropdownToggle>{{updateDropMessage}}</a>
                <div ngbDropdownMenu aria-labelledby="reimb-update-drop">
                    <button class="dropdown-item" 
                        *ngFor="let reimb of currentUpdate"
                        (click)="selectUpdateDropdown(reimb)">
                        {{reimb.reimbId}} : {{reimb.reimbAmount}} by {{reimb.reimbAuthor}}
                    </button>
                </div>
            </button>
        </div>

        <div class="form-group col-lg-6">
            <button ngbDropdown class="d-inline-block btn btn-secondary col" id="reimb-status-button">
                <a class="nav-link dropdown-toggle" id="status-update-drop" ngbDropdownToggle>{{updateStatusDrop}}</a>
                <div ngbDropdownMenu aria-labelledby="status-update-drop">
                    <button class="dropdown-item" (click)="selectStatusDropdown(2)">Pending</button>
                    <button class="dropdown-item" (click)="selectStatusDropdown(3)">Denied</button>
                    <button class="dropdown-item" (click)="selectStatusDropdown(4)">Approved</button>
                </div>
            </button>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col button-row">
            <button class="btn btn-secondary" id="reimb-update-button" (click)="callUpdate()"> Update </button>
        </div>
    </div>

    <div *ngIf="true">
        <br>
        <p>Resolver: {{currentUser.userId}}</p>
        <p>Reimbursement Id: {{updateDropSelected?.reimbId}}</p>
        <p>Status Id: {{updateStatusId}}</p>
    </div>

</form>