#reimb-form {
    border: lightgray solid 1px;
    border-top: #343a40 solid 3em;
    padding: 2em;
    margin: 10%;
    margin-top: 3em;
    margin-bottom: 5em;
}

#reimb-form-button {
    font-size: large;
}

.form-row {
    border-bottom: lightgray solid 1px;
}

#button-row {
    text-align: end;
}