#reimb-table {
    text-align: center;
}

#reimb-table-body > tr > td + td {
    border:opacify($color: #FFFFFF, $amount: 0); 
}

#reimb-table-head-row {
    border-bottom: 2px solid #3c4044;
}

#page-box {
    display: flex;
    justify-content: center;
}

li.active {
    a {
        background-color: #3c4044;
        border-color: #3c4044;
        color: white;
    }
}

li.active:hover {
    a {
        font-weight: bold;
    }
}