<br>
<div id="page-box">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" (click)="pageDown()">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li *ngFor="let pag of pageArray" [ngClass]="clickedPage(pag)"><a class="page-link" (click)="clickPage(pag)">{{pag}}</a></li>
            <li class="page-item">
                <a class="page-link" aria-label="Next" (click)="pageUp()">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div id="page-box">Page: {{page}}, Max Page: {{maxPage}}</div>
<br>